<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :employees %>
    <%= form.number_field :employees %>
  </div>

  <div class="field">
    <%= form.label :average_salary %>
    <%= form.number_field :average_salary %>
  </div>

  <div class="field">
    <%= form.label :average_age %>
    <%= form.number_field :average_age %>
  </div>

  <div class="field">
    <%= form.label :listed %>
    <%= form.text_field :listed %>
  </div>

  <div class="field">
    <%= form.label :listed_type %>
    <%= form.number_field :listed_type %>
  </div>

  <div class="field">
    <%= form.label :flow %>
    <%= form.text_field :flow %>
  </div>

  <div class="field">
    <%= form.label :industry_type %>
    <%= form.number_field :industry_type %>
  </div>

  <div class="field">
    <%= form.label :hire %>
    <%= form.number_field :hire %>
  </div>

  <div class="field">
    <%= form.label :magnification %>
    <%= form.text_field :magnification %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
